<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="arm" >

  <!-- common stuff -->
  <xacro:include filename="$(find man_gazebo)/urdf/common.gazebo.xacro" />

  <xacro:include filename="$(find man_gazebo)/urdf/6dof/manip.urdf.xacro" />

  <xacro:arm_robot prefix=""/>

  
<link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0 -1 0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>

