<?xml version="1.0"?>
<launch>
	<arg name="man" default="manipulator" />
	<arg name="dof" default="6dof" />
	<arg name="gazebo" default="true" doc="Starts gazebo" />
	<arg name="gazebo_pause" default="false" doc="Starts gazebo in paused mode" />
	<arg name="gazebo_gui" default="true" doc="Starts gazebo gui" />
	<arg name="world_name" default="worlds/empty.world"/>
	<arg name="rviz" default="true" doc="Starts rviz gui" />

	<!-- launch gazebo -->
	<include if="$(arg gazebo)" file="$(find man_gazebo)/launch/manipulator.launch">
		<arg name="world_name" value="$(arg world_name)"/>
    		<arg name="paused" value="$(arg gazebo_pause)"/>
    		<arg name="gui" value="$(arg gazebo_gui)"/>
    		<arg name="man" value="$(arg man)"/>
		<arg name="dof" value="$(arg dof)" />

	</include>
	<!-- Launch the moveit part -->
	<include file="$(find man_moveit)/launch/man_moveit_planning_execution.launch">
		<arg name="dof" value="$(arg dof)" />
	</include>
	<!-- show in rviz- just for visulize or to move the manipulator manually -->
	<include if="$(arg rviz)" file="$(find man_moveit)/launch/moveit_rviz.launch"/>


</launch>
